<!DOCTYPE html>
<html>
    <head>
        <!-- <title>Prof. Dr. Aekta Aggarwal's Homepage</title> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- Bootstrap -->
            <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
            <link rel="stylesheet" href="academicons-1.8.6/css/academicons.min.css"/>
        <script src="https://kit.fontawesome.com/60848b8342.js" crossorigin="anonymous"></script>
    </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>

  <footer>
   <ul>
   <li><a href="mailto:aektaaggarwal@iimidr.ac.in">email</a></li>
   <li><a href="https://github.com/aektaaggarwal">github.com/aektaaggarwal</a></li>
   </ul>
  </footer>
  </body>

</html>
